<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">

      <li>
        <a href="/deliveryMain">
          <i class="fa fa-th fa-motorcycle"></i> <span>배달대행</span>
        </a>
      </li>

      <li>
        <a href="/storeMain">
          <i class="fa fa-th fa-shopping-cart"></i> <span>상점</span>
        </a>
      </li>

      <li>
        <a href="/riderMng">
          <i class="fa fa-th fa-users"></i> <span>기사</span>
        </a>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-pie-chart"></i>
          <span>정산</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/branchPayRpt"><i class="fa fa-circle-o"></i> 지점 포인트내역</a></li>
          <li><a href="/riderPayRpt"><i class="fa fa-circle-o"></i> 기사 포인트내역</a></li>
          <li><a href="/deliveryRpt"><i class="fa fa-circle-o"></i> 대행내역</a></li>
          <li><a href="/storeMonRpt"><i class="fa fa-circle-o"></i> 상점별 통계</a></li>
          <li><a href="/riderMonRpt"><i class="fa fa-circle-o"></i> 기사별 통계</a></li>
        </ul>
      </li>

      <li>
        <a href="/branchSetting">
          <i class="fa fa-th fa-wrench"></i> <span>지점설정</span>
        </a>
      </li>

      <li>
        <a href="/notice">
          <i class="fa fa-th fa-bullhorn"></i> <span>공지</span>
        </a>
      </li>

    </section>
    <!-- /.sidebar -->
  </aside>
