<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">라이더 등록</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- 기초정보 -->
          <div class="col-lg-12">
            <div class="box box-solid">
              <div class="box-header with-border">
                <h3 class="box-title">기초정보</h3>
              </div>
              <div class="box-body">
                <div class="form-horizontal">


                  <div class="form-group">

                    <label for="inputEmail3" class="col-sm-2 control-label">이름</label>
                    <div class="col-sm-3">
                      <input type="email" class="form-control" id="inputEmail3">
                    </div>

                    <label for="inputEmail3" class="col-sm-1 control-label">연락처</label>
                    <div class="col-sm-2">
                      <input type="email" class="form-control" id="inputEmail3">
                    </div>

                    <label for="inputEmail3" class="col-sm-1 control-label">비밀번호</label>
                    <div class="col-sm-2">
                      <input type="password" class="form-control" id="inputEmail3">
                    </div>

                  </div>

                  <div class="form-group">

                    <label for="inputEmail3" class="col-sm-2 control-label">계좌번호</label>
                    <div class="col-sm-3">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <select class="form-control select2">
                            <option selected="selected">경남</option>
                            <option>우리</option>
                            <option>카카오</option>
                          </select>
                        </span>
                        <input type="email" class="form-control" id="inputEmail3">
                      </div>
                    </div>

                    <label for="inputEmail3" class="col-sm-1 control-label">주소</label>
                    <div class="col-sm-5">
                      <div class="input-group input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-sm btn-info btn-flat">검색</button>
                        </span>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>

            <!-- 포인트 정보 -->
            <div class="col-lg-12">

              <div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">포인트정보</h3>
                </div>

                <div class="box-body">
                  <div class="form-horizontal">

                    <div class="form-group">

                      <label for="inputEmail3" class="col-sm-2 control-label">포인트</label>
                      <div class="col-sm-2">
                        <input type="email" class="form-control" id="inputEmail3" readonly>
                      </div>

                      <label for="inputEmail3" class="col-sm-2 control-label">출금최소금액</label>
                      <div class="col-sm-2">
                        <input type="email" class="form-control" id="inputEmail3">
                      </div>

                      <label for="inputEmail3" class="col-sm-1 control-label">수수료</label>
                      <div class="col-sm-1">
                        <input type="email" class="form-control" id="inputEmail3">
                      </div>

                    </div>

                  </div>
                </div>
              </div>

            </div>

<!-- 배차정보 -->
            <div class="col-lg-12">

              <div class="box box-solid">
                <div class="box-header with-border">
                  <h4 class="box-title">배차정보</h4>
                </div>
                <div class="box-body">
                  <div class="form-horizontal">

                    <div class="form-group">

                      <label for="inputEmail3" class="col-sm-2 control-label">밑장빼기</label>
                      <div class="col-sm-2">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <select class="form-control" style="min-width:80px">
                              <option selected="selected">갯수</option>
                              <option>시간</option>
                            </select>
                          </span>
                          <input type="email" class="form-control" id="inputEmail3">
                        </div>
                      </div>
                      <label for="inputEmail3" class="col-sm-1 control-label" style="padding:13px 0 0 0; width:1%;"></label>

                      <label for="inputEmail3" class="col-sm-2 control-label">콜 제한</label>
                      <div class="col-sm-1">
                        <input type="email" class="form-control" id="inputEmail3">
                      </div>
                      <label for="inputEmail3" class="col-sm-1 control-label" style="padding:13px 0 0 0; width:1%;">개</label>



                      <label for="inputEmail3" class="col-sm-2 control-label">기사변경 권한</label>
                      <div class="col-sm-1">
                        <select class="form-control">
                          <option selected="selected">미사용</option>
                          <option>사용</option>
                        </select>
                      </div>

                    </div>

                    <div class="form-group">

                      <label for="inputEmail3" class="col-sm-2 control-label">10초 우선권</label>
                      <div class="col-sm-2">
                        <select class="form-control">
                          <option selected="selected">사용안함</option>
                          <option>사용</option>
                        </select>
                      </div>
                      <label for="inputEmail3" class="col-sm-1 control-label" style="padding:13px 0 0 0; width:1%;"></label>

                      <label for="inputEmail3" class="col-sm-2 control-label">콜 지연시간</label>
                      <div class="col-sm-1">
                        <input type="email" class="form-control" id="inputEmail3">
                      </div>
                      <label for="inputEmail3" class="col-sm-1 control-label" style="padding:13px 0 0 0; width:1%;">분</label>

                      <label for="inputEmail3" class="col-sm-2 control-label">결제방식 변경</label>
                      <div class="col-sm-1">
                        <select class="form-control">
                          <option selected="selected">미사용</option>
                          <option>사용</option>
                        </select>
                      </div>

                    </div>

                    <div class="form-group">

                      <!-- <label for="inputEmail3" class="col-sm-2 control-label"></label> -->
                      <label for="inputEmail3" class="col-sm-3 control-label">제한시간:</label>
                      <div class="col-sm-1">
                        <input type="email" class="form-control" id="inputEmail3">
                      </div>
                      <label for="inputEmail3" class="col-sm-1 control-label" style="padding:13px 0 0 0; width:1%;">분</label>

                      <label for="inputEmail3" class="col-sm-2 control-label">동시 배차제한</label>
                      <div class="col-sm-1">
                        <input type="email" class="form-control" id="inputEmail3">
                      </div>
                      <label for="inputEmail3" class="col-sm-1 control-label" style="padding:13px 0 0 0; width:1%;">개</label>

                      <label for="inputEmail3" class="col-sm-2 control-label">공유콜 표시</label>
                      <div class="col-sm-1">
                        <select class="form-control">
                          <option selected="selected">미사용</option>
                          <option>사용</option>
                        </select>
                      </div>

                    </div>

                    <div class="form-group">



                      <label for="inputEmail3" class="col-sm-2 control-label"></label>
                      <div class="col-sm-2">
                        <!-- <select class="form-control select2">
                          <option selected="selected">사용안함</option>
                          <option>사용</option>
                        </select> -->
                      </div>
                      <label for="inputEmail3" class="col-sm-1 control-label" style="padding:13px 0 0 0; width:1%;"></label>



                      <label for="inputEmail3" class="col-sm-2 control-label">지연시간 경고알람</label>
                      <div class="col-sm-1">
                        <input type="email" class="form-control" id="inputEmail3">
                      </div>
                      <label for="inputEmail3" class="col-sm-1 control-label" style="padding:13px 0 0 0; width:1%;">분</label>

                      <label for="inputEmail3" class="col-sm-2 control-label">배차취소 권한</label>
                      <div class="col-sm-1">
                        <select class="form-control">
                          <option selected="selected">미사용</option>
                          <option>사용</option>
                        </select>
                      </div>


                    </div>

                  </div>

                </div>

              </div>

            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-info">등록</button>
              <button type="button" class="btn" data-dismiss="modal"> 취소</button>
            </div>

          </div>

          </div>

        </div>

    </div>
  </div>
  <script src="routes/storeMng/modal/regStore.js"></script>
